.weather-container{
    font-size: larger;

}
.weather-box{
    display: inline-block;
    width: 100px;
    height: 150px;
    padding: 5px;
    margin: 10px;

}
.weather-day{
    text-align: center;
    background-color: lightblue;
}